<% if params[:action] == 'search' %>
    <div class="results-block">
        <%= bootstrap_flash %>
    </div> 
<% end %>

<% if @users.present? %>
    <div class="well results-block">
        <h3>Not yet implemented...</h3>
    </div>
<% end %>